.hero17-header78 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.hero17-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.hero17-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.hero17-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
}
.hero17-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.hero17-row-container1 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.hero17-row-container2 {
  width: 100%;
}
.hero17-strip1 {
  align-items: center;
  justify-content: center;
}
.hero17-image {
  width: 808px;
  height: 808px;
  object-fit: cover;
}
.hero17-placeholder-image1 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image2 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image3 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image4 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image5 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image6 {
  width: 400px;
  height: 400px;
}
.hero17-container2 {
  display: contents;
}
.hero17-fragment1 {
  display: contents;
}
.hero17-text3 {
  display: inline-block;
  text-align: center;
}
.hero17-fragment2 {
  display: contents;
}
.hero17-text4 {
  display: inline-block;
  text-align: center;
}
@media(max-width: 767px) {
  .hero17-content2 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .hero17-actions {
    width: 100%;
    flex-direction: column;
  }
}
